services:
  # PostgreSQL Database service
  postgres:
    image: postgres:15-alpine
    container_name: parknexus-postgres-db
    restart: unless-stopped
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5433:5432" # Maps the DB port to the host so it can be connected from outside
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5

  # Spring Boot application service
  app:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: parknexus-backend-app
    depends_on:
      postgres:
        condition: service_healthy # Waits for the DB to be ready
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      # Spring profile to use the 'docker' configuration in application.yml
      SPRING_PROFILES_ACTIVE: docker

      # Database configuration
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}

      # Actuator + Prometheus
      MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE: "*"
      MANAGEMENT_ENDPOINT_PROMETHEUS_ENABLED: "true"
      MANAGEMENT_METRICS_EXPORT_PROMETHEUS_ENABLED: "true"

    restart: unless-stopped

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    restart: unless-stopped
    volumes:
      - ./backend/prometheus:/etc/prometheus
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana
    container_name: grafana
    restart: unless-stopped
    ports:
      - "3000:3000"
    depends_on:
      - prometheus

volumes:
  postgres_data: